

<div id="<%= dom_id crud_model %>" class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= crud_model.first_name %></li>
    <li class="list-group-item"><%= crud_model.last_name %></li>
    <li class="list-group-item"><%= crud_model.email %></li>
    <li class="list-group-item"><%= crud_model.phone %></li>
    <li class="list-group-item"><%= crud_model.user_id %></li>
  </ul>
</div>
</br>
